<%= form_for @recipe do |f| %> 
    <%= f.label :title %>
    <%= f.text_field :title %><br />

<h2>Ingredients</h2>
    <%= f.fields_for :ingredients do |ff| %>
    <%= ff.label :name %>
    <%= ff.text_field :name %><br />
    
    <%= ff.label :quantity %>
    <%= ff.text_field :quantity %><br />
    <br />
    <% end %>

    <%= f.submit %>
<% end %>

